@import "bootstrap/bootstrap.scss";


// import google fonts 
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;500;700&display=swap');

// BREAKPOINTS

$breakpoints: (mobile: 576px,
    tablets: 768px,
    desktop: 992px,
    larger_desktop: 1200px,
);

@mixin mobile-only {
    @media screen and (min-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin tablets-only {
    @media screen and (min-width: map-get($breakpoints, tablets)) {
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin largerDesktop-only {
    @media screen and (min-width: map-get($breakpoints, larger_desktop)) {
        @content;
    }
}

//general elements
.show {
    display: inline;
}

.hide {
    display: none;
}

.expand {
    width: 500px;
}

.rotated {
    transform: rotate(180deg);
}

h1 {
    font-family: "DM Sans", sans-serif;
    color: #d04f4f;
    font-size: 38px;
    font-weight: bold;
}

h2 {
    font-size: 14px;
}

label {
    font-family: "Lato";
    font-size: 18px;
}


.card {
    font-family: "Lato";

    h2 {
        color: #000;
        font-weight: bold;
        font-size: 18px;
    }

    i {
        margin-right: 12px;
        font-size: 18px;
    }

    strong,
    span,
    p {
        font-size: 12px;
    }

    p {
        font-family: "Roboto"
    }

    img {
        height: 250px;
        object-fit: cover;
    }

    .card-header-title {
        display: flex;
        margin-bottom: 5px;

        h2 {
            max-width: 75%;
        }

        h3 {
            font-size: 18px;
            font-weight: bold;
        }

        .card-timing {
            flex-grow: 0;
        }

    }

    .card-body {
        height: 320px;

        /*media query desktop*/
        @include mobile-only {
            height: 450px;

        }

        @include tablets-only {
            height: 340px;

        }

        @include desktop-only {
            height: 350px;

        }

        @include largerDesktop-only {
            height: 320px;
        }

        .card-recette {
            height: 80%;
        }

        .card-body-ingredient {
            padding-right: 20px;
            // height: 50%;
        }

        .card-body-description {
            font-size: 12px;
            width: 100%;
            text-align: justify;
            text-justify: inter-word;
            height: 100%;

            p {
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                -webkit-line-clamp: 10;
            }
        }
    }
}

//search input main
#search {
    background-image: url(../assets/images/lupe.png);
    background-position: 99%;
    background-size: 30px;
    background-repeat: no-repeat;
    width: 50%;
    font-size: 18px;
    padding: 12px 20px 12px 40px;
}

button,
input {
    font-weight: normal;
}

.btn-search {
    margin-right: 2rem;
}

#search::placeholder {
    color: rgba(0, 0, 0, 0.25);
}


//mini tags
#mini-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

#mini-tags .tag-button {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
    pointer-events: none;

    i {
        pointer-events: auto;
        padding: 10px;
    }
}



.search-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .search-wrapper-ingredients,
    .search-wrapper-appliances,
    .search-wrapper-ustensils {
        display: flex;
        align-items: center;
        position: relative;
        width: 185px;
        border-radius: 0.25rem;
        margin-right: 20px;
        color: #fff;
        transition: width .2s ease-in-out;


        .search-control-ingredients,
        .search-control-appliances,
        .search-control-ustensils {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            padding: 15px;
        }

        .close-dropdown-ingredients,
        .close-dropdown-appliances,
        .close-dropdown-ustensils {
            transition: all .2s ease-in-out;
            margin: 0 10px;
            z-index: 600;
            cursor: pointer;
            padding: 10px;
        }

        .ingredients-text,
        .appliances-text,
        .ustensils-text {
            pointer-events: none;
        }

        input {
            z-index: 200;
            width: 100px;
            background-color: transparent;
            border: none;
            color: rgba(231, 231, 231);

            &::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                color: rgb(235, 235, 235);
                ;
            }

            &::-moz-placeholder {
                /* Firefox 19+ */
                color: rgb(247, 247, 247);
                ;
            }

            &:-ms-input-placeholder {
                /* IE 10+ */
                color: rgba(231, 231, 231);
                ;
            }

            &:-moz-placeholder {
                /* Firefox 18- */
                color: rgb(247, 247, 247);
                ;
            }





        }

        .search-list-block-ingredients {
            background-color: $primary;
        }

        .search-list-block-appliances {
            background-color: $success;
        }

        .search-list-block-ustensils {
            background-color: $danger;
        }

        .search-list-block-ingredients,
        .search-list-block-appliances,
        .search-list-block-ustensils {
            position: absolute;
            top: 54px;
            left: 0;
            z-index: 200;
            width: 185px;
            padding: 10px;
            max-height: 360px;
            overflow-y: auto;
            transition: width .2s ease-in-out;
        }

        .search-list-block-ingredients {
            scrollbar-color: darken($primary, 30%) $primary;
            scrollbar-width: thin;
        }

        .search-list-block-appliances {
            scrollbar-color: darken($success, 30%) $success;
            scrollbar-width: thin;
        }

        .search-list-block-ustensils {
            scrollbar-color: darken($danger, 30%) $danger;
            scrollbar-width: thin;
        }

        .search-list-ingredients,
        .search-list-appliances,
        .search-list-ustensils {
            width: 100%;
            margin-right: 40px;
            display: grid;
            grid-template-columns: 1fr;
        }

        .expand-search-list {
            grid-template-columns: 1fr 1fr 1fr;
        }

        ul {
            list-style: none;
            padding: 0px;

            li {
                margin: 10px;
                margin-bottom: 10px;
                display: inline;
                cursor: pointer;
            }
        }
    }
}

//display no message if no recipes
.message-no-recette {
    margin-top: 20px;
    display: none;
}

.message-no-recette p {
    font-size: 22px;
}